#flower,
#lamp,
#plant {
	animation: grow 3.3s cubic-bezier(0.075, 0.22, 0.165, 1) forwards;
	position: relative;
	transform-origin: bottom center;
	opacity: 0;
	transform: scale(0.3) rotate(20deg);
}

#flower {
	animation-delay: 0.7s;
}

#lamp {
	animation-delay: 1.2s;
}

@keyframes grow {
	to {
		opacity: 1;
		transform: scale(1) rotate(0);
	}
}

/* Rotation */
#arrows {
	position: relative;
	transform-origin: center;
	transform: rotate(0deg);
	animation: rotate 3s linear infinite;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

/* Drop */
#water1,
#water3,
#water2 {
	animation: drop 6s ease infinite;
	position: relative;
	transform-origin: 15%;
	opacity: 0.7;
	transform: scale(0.8, 0.65) translateY(-20%);
	transitiom: opacity 2s ease;
}

#water2 {
	animation-delay: 2s;
}

#water3 {
	animation-delay: 4s;
}

@keyframes drop {
	30% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: scale(1, 1.3) translateY(100%);
	}
}
